html, body {
    height: 100%;
	background-color: #333;
}
body{
	
}
/* Extra markup and styles for table-esque vertical and horizontal centering */

/*
* Affix and center
*/
#textbox
{
width: 100%;
height: 90%;
font-size:16px;
color: #000;
background-color: #FFF;
overflow-y: auto;
overflow-x: hidden;
}
#previous
{
display: none;
}
#error
{
color: #F00;
}
#title_button
{
font-size:30px;
color: #FFF;
}
.inlinelist
{
display: inline;
list-style-type: none;
}
.buttons
{
width: 200px;
margin-left: auto;
}

.fill { 
height: 100%;
}
.fill-body { 
height: 90%;
}
.bgcolor {
background-color: #333;
color: #fff;
}
.panel-default > .panel-footer {
bottom: 0;
border: 0;
}
.panel {
    border: 0;
}